:root {
  --pink: #C27BA0;
  --blue: #4A86E8;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.arrow-link-right,
.arrow-link-left {
  animation: pulse 4s infinite;
  transition: transform 0.3s;
}

.arrow-link-right:hover,
.arrow-link-left:hover {
  transform: scale(1.35);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.mooli-regular {
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.swiperVertical {
  height: 100dvh;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.swiper-slide,
.swiperVertical .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  height: 100dvh;
  flex-direction: row;
  gap: 20px;
  z-index: 10;
  position: relative;
}

.swiper-slide h2 {
  font-size: 30px;
}

.swiper-slide img {
  width: 600px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px;
}

.title {
  margin: 0 auto;
  color: rgb(210, 209, 154);
  text-shadow: 1px 1px 2px rgb(37, 35, 36);
}

.titleReino {
  color: #e5bbad;
}

.titleRosa {
  color: #ddabab;
}

.geral,
.bgAroeira,
.bgReino {
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
}

.arrow-link-right,.arrow-link-left{
  z-index: 30;
  opacity: 0.6;
  background-color: rgb(210, 209, 154);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  bottom: 50%;
  position: absolute;
}

.message-swiper {
  position: absolute;
  display: none;
  bottom: 4%;
  left: 40%;
  z-index: 99;
  background-color: rgb(210, 209, 154);
  padding: 3px 5px;
  border-radius: 5px;
  font-weight: 500;
}

.arrow-link-right span, .arrow-link-left span {
  opacity: 1;
  color: #ffffff;
}

.arrow-link-right {
  right: 50px;
}

.arrow-link-left {
  left: 50px;
}

.geral {
  background-image: url('img/bg.png');
}

.bgAroeira {
  background-image: url('img/aroeira/bgRosa.png');
}

.bgReino {
  background-image: url('img/reino/bgReino.png');
}

.bgMacadamia {
  background-image: url('img/aroeira/bgRosa.png');
}

.chart {
  box-shadow: none !important;
  object-fit: cover;
  width: 430px !important;
  height: 430px !important;
}

.container {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.container-main {
  display: flex;
  align-items: flex-start;
  gap: 13px;
  margin-top: 8px;
}

.container-description {
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(53, 52, 52);
  background-color: rgb(241, 226, 209);
  opacity: 0.8;
  font-weight: 500;
}
